body {
    background-color: rgb(56, 56, 56);
    margin: 30px 65px;
    color: rgb(255, 255, 255);
}
.headertit {
    text-align: left;
}
h1 {
    font-size: 40px;
    text-align: center;
}
.introdução {
    text-align: center;
}
#intr {
    text-decoration: none;
    color: aquamarine;
}
.button-container {
    display: flex;
    justify-content: right;
    height: 40px;
}
#pin {
    background-color: none;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-decoration: none;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
#pin:hover, #pin:active {
    text-decoration: none;
    background-color: rgb(5, 70, 114);
    padding: 14px 25px;
    text-decoration: none;
}
#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fotografias {
    background-color: black;
    padding: 5px 50px;
    margin: 0 20% 
}
#topico{
    text-align:left;
    
}